
.page{
    display: flex;
    margin: 15px;
    background-color: rgb(50, 50, 50);
}

.page .left{
    margin: 5px;
    width: 33%;
    height: 8in;
    background-color: rgb(255, 253, 228);
}

.page .center{
    margin: 5px;
    width: 33%;
    height: 8in;
    background-color: rgb(255, 253, 228);
}

.page .right{
    margin: 5px;
    width: 33%;
    height: 8in;
    background-color: rgb(255, 253, 228);
}

.page .content{
    margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.page .content h2 {
    padding: 5px;
    color: white;
    background-color: rgb(40, 119, 255);
    border-radius: 10px;
    width: fit-content;
}

/* .page .content h3 {
    padding: 10px;
    font-weight: bolder;

} */

.page .content p {
    margin-left: 10px;
    margin-right: 20px;
}

.page .content .syntax {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(42, 42, 42);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.page .content .syntax .comment{
    color: green;
}

.page .content .note {
    margin-left: 10px;
    font-style: italic;
}

.page .content ul li {
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}

.page .content .special-characters{
    color: red;
    font-weight: bold;
    background-color: rgb(241, 240, 240);
}

